{% extends "base.html" %}
{% block content %}
{% load static %}
<style>

    .product-image {
        width: 500px;
        height: auto;
    }
</style>

<div class="product-detail">
    <h2>{{ item.name }}</h2>

    <img src="{% if item.image %}{{ item.image.url }}{% else %}{{ MEDIA_URL }}products/pusto.jpg{% endif %}"
         alt="{{ item.name }}" class="product-image">

    <p>{{ item.description }}</p>
    <p><strong>Цена:</strong> {{ item.get_display_price }} $</p>


    <button type="button" id="checkout-button">Buy</button>
    </section>
    {% csrf_token %}
    <script type="text/javascript">


        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("{% url 'payclick:buy' item.id %}", {
                method: "POST",
                headers: {
                    'X-CSRFToken': csrftoken
                }
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    return stripe.redirectToCheckout({sessionId: session.id});
                })
                .then(function (result) {
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });


    </script>

</div>
{% endblock %}