{% extends 'base.html' %}

{% block title %}Заказ №{{ order.pk }} - ClickoMarket{% endblock %}

{% block extra_css %}
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .empty {
        text-align: center;
        font-style: italic;
    }

    .product-image {
        width: 50px;
        height: auto;
    }

    .wrap-text {
        word-break: break-all;
    }

    .no-wrap {
        white-space: nowrap;
    }





</style>
{% endblock %}

{% block content %}
<h2>Детали заказа №{{ order.pk }}</h2>
<p><strong>Номер заказа:</strong> {{ order.pk }}</p>
<p><strong>Дата создания:</strong> {{ order.created_at }}</p>
<p><strong>Общая сумма:</strong> {{ order.get_display_total_amount }}USD</p>

<h3>Список товаров</h3>
<table>
    <thead>
    <tr>
        <th>Изображение</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Цена</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.items.all %}
    <tr>
        <td><img src="{% if item.image %}{{ item.image.url }}{% else %}{{ MEDIA_URL }}products/pusto.jpg{% endif %}"
         alt="{{ item.name }}" class="product-image"></td>
        <td class=wrap-text">{{ item.name }}</td>
        <td class="wrap-text">{{ item.description }}</td>
        <td class="no-wrap">{{ item.get_display_price }} {{ item.currency }}</td>
    </tr>


    {% empty %}
    <tr>
        <td colspan="4" class="empty">Товары отсутствуют</td>
    </tr>
    {% endfor %}
    </tbody>


</table>

{% if order.get_stripe_payment_status == 'succeeded' %}Заказ оплачен{% else %}
<!-- Форма оплаты -->
<form id="payment-form">
    <input type="text" id="email" placeholder="Email address"/>
    <div id="card-element"><!--Stripe.js injects the Card Element--></div>
    <button id="submit">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay</span>
    </button>
    <p id="card-error" role="alert"></p>
    <p class="result-message hidden">
        Payment succeeded, see the result in your
        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
    </p>
</form>
{% csrf_token %}
{% endif %}
{% endblock %}


{% block extra_js %}
<script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    var stripe = Stripe('{{ STRIPE_PUBLIC_KEY }}');

    document.querySelector("button").disabled = true;
    var elements = stripe.elements();
    var style = {
        base: {
            color: "#32325d",
            fontFamily: 'Arial, sans-serif',
            fontSmoothing: "antialiased",
            fontSize: "16px",
            "::placeholder": {
                color: "#32325d"
            }
        },
        invalid: {
            fontFamily: 'Arial, sans-serif',
            color: "#fa755a",
            iconColor: "#fa755a"
        }
    };
    var card = elements.create("card", {style: style});
    // Stripe injects an iframe into the DOM
    card.mount("#card-element");
    card.on("change", function (event) {
        // Disable the Pay button if there are no card details in the Element
        document.querySelector("button").disabled = event.empty;
        document.querySelector("#card-error").textContent = event.error ? event.error.message : "";
    });
    var form = document.getElementById("payment-form");
    form.addEventListener("submit", function (event) {
        event.preventDefault();
        // Complete payment when the submit button is clicked
        fetch("{% url 'payclick:order_pay' order.id %}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({
                email: document.getElementById('email').value,
            })
        })
            .then(function (result) {
                return result.json();
            })
            .then(function (data) {
                payWithCard(stripe, card, data.clientSecret);
            });
    });

    // Calls stripe.confirmCardPayment
    // If the card requires authentication Stripe shows a pop-up modal to
    // prompt the user to enter authentication details without leaving your page.
    var payWithCard = function (stripe, card, clientSecret) {
        loading(true);
        stripe
            .confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card
                }
            })
            .then(function (result) {
                if (result.error) {
                    // Show error to your customer
                    showError(result.error.message);
                } else {
                    // The payment succeeded!
                    orderComplete(result.paymentIntent.id);
                }
            });
    };
    /* ------- UI helpers ------- */
    // Shows a success message when the payment is complete
    var orderComplete = function (paymentIntentId) {
        loading(false);


        fetch("{% url 'payclick:update_order_payment'%}", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
                "X-CSRFToken": csrftoken,
            },
            body: JSON.stringify({
                order_id: "{{ order.pk }}",
                stripe_payment_id: paymentIntentId,
            }),
        })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
            });


        document
            .querySelector(".result-message a")
            .setAttribute(
                "href",
                "https://dashboard.stripe.com/test/payments/" + paymentIntentId
            );
        document.querySelector(".result-message").classList.remove("hidden");
        document.querySelector("button").disabled = true;
    };
    // Show the customer the error from Stripe if their card fails to charge
    var showError = function (errorMsgText) {
        loading(false);
        var errorMsg = document.querySelector("#card-error");
        errorMsg.textContent = errorMsgText;
        setTimeout(function () {
            errorMsg.textContent = "";
        }, 4000);
    };
    // Show a spinner on payment submission
    var loading = function (isLoading) {
        if (isLoading) {
            // Disable the button and show a spinner
            document.querySelector("button").disabled = true;
            document.querySelector("#spinner").classList.remove("hidden");
            document.querySelector("#button-text").classList.add("hidden");
        } else {
            document.querySelector("button").disabled = false;
            document.querySelector("#spinner").classList.add("hidden");
            document.querySelector("#button-text").classList.remove("hidden");
        }
    };

</script>
{% endblock %}
